
@{
    ViewData["Title"] = "AddUserInput";
}

@model UserInfo

    <style>
        body {
            background-image: url(https://www.elsetge.cat/myimg/f/150-1502145_yellowstone-national-park-colors.jpg);
        }

        h1 {
            font-family: Cooper;
            text-align: center;
            background-color: aliceblue
        }
        div {
            display: flex;
            justify-content: center;
            align-content: center;
            padding-top: 15px;
            padding-right: 30px;
            padding-bottom: 50px;
            padding-left: 30px;
        }
    </style>

@Html.ValidationSummary()
<h1>@ViewBag.userInfoMessage</h1>

<div style="background-color:aliceblue">
    <form action="../User/AddUserInput" method="post">
        @Html.LabelFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
       
        <input type="text" name="Name" value="" /><br />
        
        @Html.ValidationMessageFor(m => m.Dob)
        <label for="Dob">Date of Birth</label>
<<<<<<< HEAD
         <input type="date" name="Dob" value="" /><br />
        
=======
        Enter Your DOB: <input type="date" name="Dob" value="" /><br />
>>>>>>> 44ca786bad1e9e4485ee8527988f786f9e0f0148
        @Html.ValidationMessageFor(m => m.Gender)
        @Html.DropDownList("Gender", new SelectList(Enum.GetValues(typeof(Sex))),
    "Select Gender", new { @class = "form-control" })<br />
        @Html.LabelFor(m => m.Country)
        @Html.DropDownList("Country", new SelectList(Enum.GetValues(typeof(Countries))),
    "Country", new { @class = "form-control" })<br />
        <label for="Smoker">Smoker? (greater than 10 cigarettes a day)</label>
        <input type="radio" name="Smoker" value="true" /><br />
        <input type="hidden" name="Smoker" value="false" />
        <label for="Drinker">Drinker? (greater than 3 drinks a day)</label>
        <input type="radio" name="Drinker" value="true" /><br />
        <input type="hidden" name="Drinker" value="false" />
        <input type="submit" value="Add User Information" />
    </form>
</div>
