
@{
    ViewData["Title"] = "ViewUserProfileInformation";
    var smoker = "No";
    var drinker = "No";
}

@model UserInfo
<h1>User Profile Information</h1>

@if(@Model.Smoker == "true")
{
    smoker = "Yes";
}
@if(Model.Drinker == "true")
{
    drinker = "Yes";
}

<div class="row">

<div class="col-md-1">
    <h3>Name: @Model.Name</h3>
    <h3>Gender: @Model.Gender</h3>
    <h3>Date of Birth: @Model.Dob</h3>
    <h3>Smoker?: @smoker</h3>
    <h3>Drinker?: @drinker</h3>
    <a href="../User/UpdateUserInfo">Update User Information</a>
</div>
}

</div>