
@{
    ViewData["Title"] = "DisplayBucketList";
}
@model List<UserParks>


<style>
    body {
        background-image: url(https://www.elsetge.cat/myimg/f/196-1969978_national-park-desktop-wallpaper-high-resolution-free-national.jpg);
        background-repeat: no-repeat;
    }

    h1 {
        background: rgb(255, 80, 61);
        background: rgba(255, 80, 61, 0.90);
        font-family: Cooper;
    }

    .text-center {
        display: table;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .text-center-container {
        display: table-cell;
        width: 100%;
        vertical-align: middle;
    }

    .text-center-box {
        display: inline-block;
        padding: 50px;
        background-color: #ffffffff;
    }
</style>

<h1>Bucket List</h1>

<div style="font-family:Arial">
    <table class="table table-hover table-dark">
    <tr>
        <th>Park Name</th>
        <th>City</th>
        <th>State</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Web Address</th>

    </tr>
    @foreach (UserParks parks in Model)
    {
        <tr>
            <td>@parks.ParkName</td>
            <td>@parks.City</td>
            <td>@parks.State</td>
            <td>@parks.Latitude</td>
            <td>@parks.Longitude</td>
            <td><a href="@parks.Url">@parks.Url</a></td>

            <td>
                <a href="../ParksDb/UpdateParkVisited?id=@parks.UsersParkIds">Cross Off Bucket List</a>

            </td>

        </tr>
    }
</table>
    <a href="../User/UserPreferences">Setup Visit Plan for this List of Parks</a>
</div>

