
@{
    ViewData["Title"] = "parksVisited";
}

@model List<UserParks>

<h1>Parks Visited</h1>

<table>

    <tr>
        <th>Park Name</th>
        <th>Park Address</th>
        <th>Park State</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Web Address</th>
    </tr>
    @foreach (UserParks visited in Model)
    {
        <tr>
            <td>@visited.ParkName</td>
            <td>@visited.City</td>
            <td>@visited.State</td>
            <td>@visited.Latitude</td>
            <td>@visited.Longitude</td>
            <td>@visited.Url</td>      
        </tr>
    }
</table>